name: Release

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read
  deployments: write

jobs:
  tests:
     uses: DaffaRomyz/capdeploytest/.github/workflows/test.yaml@main
     secrets: inherit
  deploy-cf:
    needs: [tests]
    uses: DaffaRomyz/capdeploytest/.github/workflows/cf.yaml@main
    secrets: inherit
    with:
      environment: Production
